<h1>Users Sign In</h1>
<mat-card>
  <p>
    {{ Message }}
  </p>
  <p>
    <mat-form-field class="full-width">
      <mat-label>Login</mat-label>
      <input
        type="text"
        placeholder="Please enter your email address"
        matInput
        [(ngModel)]="Login"
      />
    </mat-form-field>
  </p>
  <p>
    <mat-form-field class="full-width">
      <mat-label>Password</mat-label>
      <input
        type="password"
        placeholder="Please enter your password"
        matInput
        [(ngModel)]="Password"
      />
    </mat-form-field>
  </p>
  <p>
    <button mat-raised-button color="primary" (click)="Authenticate()">
      Sign in
    </button>
  </p>
</mat-card>
