<!-- <mat-card>
  <h1>List Posts</h1>
  <mat-accordion>
    <mat-expansion-panel hideToggle *ngFor="let currentProduct of products">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ currentProduct.name }}</mat-panel-title>
        <mat-panel-description>
          <span class="truncate">{{ currentPost.body }}</span>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>{{ currentPost.body }}</p>
    </mat-expansion-panel>
  </mat-accordion>
  <br />
  <p>Total Posts: {{ posts.length }}</p>
</mat-card> -->
